<div class="container">

{% if cart.item_count > 0 %}

<div class="cart-page">

  <form action="/cart" method="post" novalidate>
     <div class="cart-page--headline">
          <ul>
          <li>{{ 'cart.label.product' | t }}</li>
          <li>{{ 'cart.label.quantity' | t }}</li>
          <li>{{ 'cart.label.total' | t }}</li>
          </ul>
      </div>
      <div class="cart-page--items">
            {% for item in cart.items %}



            <div class="cart-page--items-product" data-label="{{ 'customer.order.product' | t }}">

              {% if item.image != blank %}
                <a href="{{ item.url | within: collections.all }}">
                  {{ item | img_url: '240x240' | img_tag: item.title }}
                </a>
              {% endif %}

              <a class="cart-item--title" href="{{ item.url }}">{{ item.product.title }}
               {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:

                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}


              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p>
              {% endunless %}



              </a>

             

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </div>
            
         
            <td data-label="{{ 'cart.label.quantity' | t }}">
            <div class="quantity">


              <input type="number"
                     name="updates[]"
                     id="updates_{{ item.key }}"
                     value="{{ item.quantity }}"
                     aria-label="{{ 'cart.general.item_quantity' | t }}">
                  </div>   
            </td>
           
            <div data-label="{{ 'cart.label.total' | t }}">
              {{ item.line_price | money }}
            </div>

        {% endfor %}
      </div>

<div class="cart-totals">
    <p>{{ 'cart.general.subtotal' | t }}</p>
    <p>{{ cart.total_price | money }}</p>
    {% if cart.total_discounts > 0 %}
      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
    {% endif %}
    <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
    <input class="cart" type="submit" name="update" value="{{ 'cart.general.update' | t }}">
    <input class="cart" type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}">
    </div>
  </form>
  </div>
{% else %}
<div class="cart-page">

  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}

</div>
</div>
