<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>

  <h2 class="marquee" style="background: {{ section.settings.marquee-bg | escape }};">
         <span style="color:{% if section.settings.home-video-text-1 %} {{ section.settings.color-font-1 | escape }} {%endif%};"> {{ section.settings.home-video-text-1 | escape }}</span>
         <span style="color:{% if section.settings.home-video-text-2 %} {{ section.settings.color-font-2 | escape }} {%endif%};">{{ section.settings.home-video-text-2 | escape }}</span>
         <span style="color:{% if section.settings.home-video-text-3 %} {{ section.settings.color-font-3 | escape }} {%endif%};">{{ section.settings.home-video-text-3 | escape }}</span>
         
        </h2>


<div class="about-modal">
  <h2>Inspired by the spirit of Canal St.</h2> 
  <img src="//cdn.shopify.com/s/files/1/1522/4434/files/nle-10197-rose-open-salon-hair-neon-sign_large.jpg?v=1478068685">
</div>
<div class="search-form">
   <form action="/search" method="get" role="search">

      <input type="search"
             name="q"
             id="Search"
             value="{{ search.terms | escape }}"
             placeholder="{{ 'general.search.placeholder' | t }}">
      <button type="submit" class="search-button">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>

    </form>
          <button class="close-search"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>  </button>

</div>

<div class="modal-box mobile">
        <button href="#" class="close">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>

        </button>
      <div class="menu">

   <nav role="navigation">
    <ul class="site-nav">

          {% include  'chinatown-flat' %}

  <h2>Inspired by the spirit of Canal St.</h2> 

      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if menus[child_list_handle].links != blank %}
          <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
            <a href="{{ link.url }}" class="site-nav__link">
              {{ link.title }}
            </a>
            <ul class="site-nav__submenu">

              {% for childlink in menus[child_list_handle].links %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %}class="site-nav--active" {% elsif link.title == 'Search' %}class="site-nav--about"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    
    </ul>
  </nav>
      </div>
      <div class="overlay"></div>
   </div>  

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner">
<div class="container">
   
     <div class="mobile-nav--button">
        <button  class="mobile-menu">
<svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 34 17" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="27" y2="6"></line><line x1="3" y1="18" x2="27" y2="18"></line></svg>
        </button>





</div>  
    
    
    <div class="center-logo">

<a href="/">
     
          {% include  'chinatown-logo' %}
     
</a>


   
      </div>

<div class="col-right">
<button type="submit" class="search-button">
     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      
  </button>

<a href="/cart" class="cart-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
       <style>
    .small { font-size:  11px ;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     }

    /* Note that the color of the text is set with the    *
     * fill property, the color property is for HTML only */
    .Rrrrr { font: italic 40px serif; fill: red; }
  </style>

      <circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6">
     
      

      </path>

      {% comment%}
<text x="20" y="15" class="small">{{ cart.item_count }}</text>
      {% endcomment %}
      </svg>
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"> {{ cart.item_count }}</span>

    </a>

  

 
  </div>

  
  </div>





  </header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },

      {
        "type": "text",
        "id": "home-video-text-1",
        "label": "Heading",
        "default": "Welcome!"
      },

        {
        "type": "text",
        "id": "home-video-text-2",
        "label": "Heading",
        "default": "Welcome!"
      },

        {
        "type": "text",
        "id": "home-video-text-3",
        "label": "Heading",
        "default": "Welcome!"
      },

       

      {
        "type": "color",
        "id": "color-font-1",
        "label": "font color-1",
        "default": "#fff"
      },

      {
        "type": "color",
        "id": "marquee-bg",
        "label": "marquee-bg",
        "default": "#faec31"
      },

      {
        "type": "color",
        "id": "color-font-2",
        "label": "font color-2",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "color-font-3",
        "label": "font color-3",
        "default": "#fff"
      }

   

    ]
  }
{% endschema %}
